{% extends 'base.html.twig' %}

{% block title %}Войдите!{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/signin.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <main class="form-signin text-center">

        {{ form_start(loginForm) }}

        <h1 class="h3 mb-3 font-weight-normal">Войдите</h1>

        {{ form_errors(loginForm) }}

        {{ form_row(loginForm.username) }}
        {{ form_row(loginForm.password) }}
        {{ form_row(loginForm.remember_me) }}
        {{ form_row(loginForm.csrf_token) }}

        <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>

        <p class="mt-5 mb-3 text-muted">&copy; 2024</p>
        {{ form_end(loginForm) }}
    </main>
{% endblock %}
