{% extends '@!EasyAdmin/page/content.html.twig' %}

{% block page_title %}
    Референс-центр - Регистрация
{% endblock %}

{% block head_stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/main.min.css') }}"/>
{% endblock %}

{% block body %}
    <body class="authentication">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-xl-5 col-md-6 col-sm-12">
                <div class="login-screen">
                    <div class="login-box">
                        <a href="#" class="login-logo">
                            Референс-центр. <h3>Планирование</h3>
                        </a>
                        <h4>Регистрация</h4> <br/>
                        <h5>Введите логин, e-mail и пароль.</h5>

                        {{ form_start(registrationForm) }}

                        {{ form_errors(registrationForm) }}

                        {{ form_row(registrationForm.username) }}
                        {{ form_row(registrationForm.email) }}
                        {{ form_row(registrationForm.plainPassword) }}
                        {{ form_row(registrationForm.agreeTerms) }}

                        <div class="actions">
                            <button type="submit" class="btn btn-info">Создать аккаунт</button>
                        </div>
                        <hr>
                        <div class="m-0">
                        <span class="additional-link">Уже есть аккаунт? <a href="{{ path('app_login') }}"
                                                                           class="btn btn-secondary">Войти</a></span>
                        </div>
                        {{ form_end(registrationForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}
