{% extends 'schedule/index.html.twig' %}

{% block page_actions %}
    <div class="col" style="margin-bottom: 50px">
        {{ form(form) }}
    </div>
{% endblock %}

{% block main %}
    <style>
        .content {
            display: flex;
            flex-direction: column;
        }

        .content-body {
            position: relative;
            margin-top: 1px;
            flex: 1;
        }

        .export-button {
            min-width: 100%;
        }

        .export-button a {
            float: right;
            margin: 0 0 0 10px !important;
        }

        /* TABLE */
        #scheduler.table-responsive {
            min-height: 480px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
        #scheduler .table {
            border-collapse: separate;
            border-spacing: 0;
        }
        #scheduler .cal-toprow {
            width: 120px;
            min-width: 120px;
            color: #3e5569;
            background-color: #f7f9fb !important;
            border: 1px solid #ebebeb !important;
        }

        #scheduler .cal-view-part-start {
            background-color: #005ce5
        }


        #scheduler .weekend {
            background-color: #ebebeb;
        }

        #scheduler .cal-part-start,
        #scheduler .cal-part-end {
            min-width: 100px;
            background-color: #ebebeb;
        }

        #scheduler .cal-schedule {
            min-width: 150px;
        }

        #scheduler .cal-view-result {
            min-width: 150px;
        }

        /* LOCK HEADER AND FIRST COLUMN */
        #scheduler .table thead td,
        #scheduler .table thead th {
            border: 1px solid #005ae0;
        }

        #scheduler .table td,
        #scheduler .table th {
            padding: 5px !important;
            vertical-align: top;
            border: 1px solid #d2d2d2;
        }

        #scheduler .table thead > tr:first-child > th:first-child {
            background-color: #06f;
            border: 1px solid #005ae0;
        }

        #scheduler .table tbody > tr:nth-of-type(odd) > td:first-child {
            background-color: #f2f2f2;
            border: 1px solid #d2d2d2;
        }

        #scheduler .table tbody > tr:nth-of-type(even) > td:first-child {
            background-color: #f7fafe;
            border: 1px solid #d2d2d2;
        }

        #scheduler .table thead > tr:first-child > th:first-child,
        #scheduler .table tbody > tr > td:first-child {
            position: sticky;
            left: -8px;
            z-index: 1010;
        }

        #scheduler .table thead {
            position: sticky;
            top: 0px;
            z-index: 1020;
        }

        /* USER TASKS */
        #scheduler .details {
            position: relative;
            border-radius: 4px;
            background: #fff;
            box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
            border: 1px solid #ebecee;
            padding: 0px 0px 5px 10px;
            margin: 2px;
            z-index: 1;
        }
        #scheduler .details.drag:hover {
            cursor: grab;
        }
        #scheduler .details.drag:active {
            cursor: grabbing;
        }

        #scheduler .details.ui-draggable-dragging {
            z-index: 1000;
        }

        #scheduler .details-uren {
            font-size: 12px;
            color: #333;
            font-weight: 500;
            margin: 0;
            right: 0px;
            text-align: right;
            padding-right: 10px;
        }

        #scheduler .details-task {
            margin-top: 5px;
            margin-bottom: 2px;
            font-size: 12px;
            padding: 2px 5px;
            font-weight: 600;
            line-height: 1.4;
            border-radius: 2px;
            width: 94%;
        }

        /*EDIT*/
        .opt-tools {
            height: 100%;
            width: 25px;
            right: -21px;
            position: absolute;
            border: 1px solid #e8e8e8;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
        }
        .opt-edit,
        .opt-trash {
            height: 50%;
            line-height: 25px;
            text-align: center;
            font-size: 13px;
            cursor: pointer;
        }
        .opt-edit {
            border-bottom: 1px solid #e8e8e8;
            border-top-right-radius: 8px;
            background-color: #fff;
            color: #ff8e00;
        }

        .opt-edit:hover {
            color: #fff;
            background-color: #ff8e00;
        }
        .opt-trash {
            border-bottom-right-radius: 8px;
            background-color: #fff;
            color: #cc0000;
        }
        .opt-trash:hover {
            color: #fff;
            background-color: #cc0000;
        }
    </style>
    <div class="col-12 table-responsive" id="scheduler">
        <table class="table table-striped table-bordered">
            <thead class="cal-thead">
            <tr>
                <th class="cal-view" rowspan="2">Идентификатор</th>
                <th class="cal-view" rowspan="2">Дата расписания</th>
                <th class="cal-view" rowspan="2">Дата создания расписания</th>
                <th class="cal-view" rowspan="2">Штрафной балл</th>
                <th class="cal-view" rowspan="2">Согласовано</th>
                <th class="cal-view" rowspan="2"></th>
            </tr>
            </thead>
            <tbody class="cal-tbody">
            {% for schedule in schedules %}
                <tr>
                    <td class="cal-userinfo">{{ schedule.id }}</td>
                    <td class="cal-userinfo">{{ schedule.date|date('d.m.Y') }}</td>
                    <td class="cal-userinfo">{{ schedule.createdAt|date('d.m.Y') }}</td>
                    <td class="cal-userinfo">{{ schedule.fitness }}</td>
                    <td class="cal-userinfo">{{ schedule.isApproved ? 'Да' : 'Нет' }}</td>
                    <td class="cal-userinfo">
                        <a href="{{ path('app_schedule_temp', {'tempSchedule': schedule.id}) }}" type="button" class="btn badge-secondary" id="cancelButton" data-dismiss="modal" style="width: 100%">Расписание</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
