{% extends 'bundles/EasyAdminBundle/page/content.html.twig' %}

{% block page_actions %}
    <div class="col-auto">
        <a href="{{ path('app_schedule_approve', {'tempSchedule': scheduleId}) }}" type="button" class="btn btn-secondary" id="cancelButton" data-dismiss="modal">Согласовать</a>
        <a href="{{ path('app_schedule_export_csv', {'tempSchedule': scheduleId}) }}" type="button" class="btn btn-success" id="cancelButton" data-dismiss="modal">CSV</a>
        <a href="{{ path('app_schedule_export_xlsx', {'tempSchedule': scheduleId}) }}" type="button" class="btn btn-success" id="cancelButton" data-dismiss="modal">XLSX</a>
    </div>
{% endblock %}

{% block main %}
    <style>
        .content {
            display: flex;
            flex-direction: column;
        }

        .content-body {
            position: relative;
            margin-top: 1px;
            flex: 1;
        }

        .table-responsive {
            min-height: 480px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

        thead > tr:first-child > th:first-child,
        tbody > tr > td:first-child {
            position: sticky;
            left: 0;
            z-index: 1010;
        }

        thead {
            position: sticky;
            top: 0;
            z-index: 1020;
            box-shadow: 0 10px 50px rgba(0, 0, 0, 0.04);
        }

        .cal-toprow {
            width: 120px;
            min-width: 120px;
            color: #3e5569;
            background-color: #f7f9fb !important;
            border: 1px solid #ebebeb !important;
        }

        .export-button {
            min-width: 100%;
        }

        .export-button a {
            float: right;
            margin: 0 0 0 10px !important;
        }
    </style>
    <div class="col-12 table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="cal-thead">
            <tr>
                <th class="cal-view" rowspan="2">Врач</th>
                <th class="cal-view" rowspan="2">Модальность</th>
                <th class="cal-view" rowspan="2">Дополнительные модальности</th>
                <th class="cal-view" rowspan="2">Ставка</th>
                <th class="cal-view" rowspan="2">Таб. №</th>
                <th class="cal-view-month" colspan="{{ calendars|length + 2 }}">Числа месяца</th>
                <th class="cal-view" rowspan="2">Норма часов по графику</th>
                <th class="cal-view" rowspan="2">Норма часов за полный месяц</th>
            </tr>
            <tr>
                {% for calendar in calendars %}
                    {% if loop.index0 == 15 %}
                        <th class="cal-view-part-start">Итого за 1 пол. месяца</th>
                    {% endif %}

                    <th class="cal-month">{{ calendar.date|date('d.m.Y') }}</th>
                    {% if loop.last %}
                        <th class="cal-view-part-start">Итого за 2 пол. месяца</th>
                    {% endif %}
                {% endfor %}
            </tr>
            </thead>
            <tbody class="cal-tbody">
            {% for doctor in doctors %}
                <tr>
                    <td class="cal-userinfo">{{ doctor.fio ?? 'Врач'~doctor.id }}</td>
                    <td class="cal-userinfo">{{ doctor.competency|join(', ') }}</td>
                    <td class="cal-userinfo">{{ doctor.addonCompetencies|join(', ') }}</td>
                    <td class="cal-userinfo">{{ doctor.stavka }}</td>
                    <td class="cal-userinfo"></td>
                    {% set partStart = 0 %}
                    {% set partEnd = 0 %}

                    {% set scheduleDoctor = findSchedule(scheduleId, doctor.id) %}
                    {% for calendar in calendars %}
                        {% set is_first_part = loop.index0 < 15 %}
                        {% set is_last_part = loop.index0 >= 15 %}

                        {% if loop.index0 == 15 %}
                            <td class="cal-part-start">{{ partStart }}</td>
                        {% endif %}

                        <td class="cal-schedule">
                            {% for schedule in scheduleDoctor|filter(s => s.date == calendar.date) %}
                                {% if is_first_part %}
                                    {% set partStart = partStart + schedule.workHours %}
                                {% endif %}
                                {% if is_last_part %}
                                    {% set partEnd = partEnd + schedule.workHours %}
                                {% endif %}

                                {# @var schedule \App\Entity\TempDoctorSchedule #}
                                <ul class="border" style="border-color: black">
                                    <li class="text-nowrap">Модальность {{ schedule.tempScheduleWeekStudies.weekStudies.competency.modality }}</li>
                                    <li class="text-nowrap">смена с {{ schedule.workTimeStart ? schedule.workTimeStart|date('H:i')  : '---' }} до {{ schedule.workTimeEnd ? schedule.workTimeEnd|date('H:i')  : '---' }}</li>
                                    <li class="text-nowrap">{{ schedule.workHours ? schedule.workHours|round(2) : '---' }} часов</li>
                                    <li class="text-nowrap">обед {{ schedule.offMinutes ? schedule.offMinutes|round(2) : '---' }} минут</li>
                                </ul>
                            {% endfor %}
                        </td>
                        {% if loop.last %}
                            <td class="cal-part-end">{{ partEnd|round(2) }}</td>
                        {% endif %}
                    {% endfor %}
                    <td class="cal-userinfo">{{ (partStart + partEnd)|round(2) }}</td>
                    <td class="cal-userinfo">155</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
