{% block wrapper_wrapper %}
    <!doctype html>
    <html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body class="authentication">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-xl-5 col-md-6 col-sm-12">
                <div class="login-screen">
                    <div class="login-box">
                        <a href="#" class="login-logo">
                            Референс-центр
                        </a>
                        <h4>Регистрация</h4> <br/>
                        <h5>Введите e-mail и пароль.</h5>
                        <form method="post" action="{{ path('app_register') }}">
                            {% if csrf_token_intention|default(false) %}
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token(csrf_token_intention) }}">
                            {% endif %}
                            <input type="hidden" name="{{ path('dashboard') }}"
                                   value="{{ target_path|default(ea is defined ? path(ea.dashboardRouteName) : '/') }}"/>
                            <div class="form-group">
                                <input type="text" id="email" name="email" class="form-control"
                                       value="example@yandex.ru" required autofocus autocomplete="email">
                            </div>
                            <div class="form-group">
                                <input type="password" id="password" name="password" class="form-control"
                                       placeholder="password" required autocomplete="current-password">
                                <small id="passwordHelpInline" class="text-muted">
                                    Пароль должен содержать не менее 8 символов
                                </small>
                            </div>
                            <div class="actions">
                                <button type="submit" class="btn btn-info">Создать аккаунт</button>
                            </div>
                            <hr>
                            <div class="m-0">
                            <span class="additional-link">Уже есть аккаунт? <a href="{{ path('app_login') }}"
                                                                               class="btn btn-secondary">Войти</a></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
    </html>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/main.min.css') }}"/>
{% endblock %}
