{% extends 'bundles/EasyAdminBundle/page/content.html.twig' %}

{% block main %}
    <div class='col-md-12'>
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    Составленные расписания
                </div>
            </div>
            {% for schedule in schedules %}
                <div class="card-body">
                    <div class="overall-events">
                        {% if schedule.fitness  > 350000 %}
                            <a href="{{ path('recommendation', {'tempSchedule': schedule.id}) }}"
                               class="event-block bg-warning">
                                <i class="fa-solid fa-exclamation-triangle"></i>
                                <div class="total-events">Штрафной балл: {{ schedule.fitness }}</div>
                                Расписание № {{ schedule.id }} <br>
                                сформировано {{ schedule.createdAt.format('d.m.Y H:m:s') }}
                            </a>
                        {% else %}
                            <a href="{{ path('recommendation', {'tempSchedule': schedule.id}) }}"
                               class="event-block bg-success">
                                <i class="fa-solid fa-thumbs-up"></i>
                                <div class="total-events">Штрафной балл: {{ schedule.fitness }}</div>
                                Расписание № {{ schedule.id }} <br>
                                сформировано {{ schedule.createdAt.format('d.m.Y H:m:s') }}
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
